<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-title class="title" size="large">Nueva contraseña</ion-title>
    <p class="ion-padding subTitle">Ingresar datos</p>
  </div>

  <form>
    <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel  name="email" class="input"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input ngModel name="username" class="input"></ion-input>
      <ion-icon name="person" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password" class="input"></ion-input>
      <ion-icon name="lock-closed" slot="end"></ion-icon>
    </ion-item>


    <ion-button type="submit" expand="block" color="primary" class="ion-text-uppercase ion-margin-top">Recuperar
    </ion-button>
  </div>
  </form>

  <ion-item>
    <p>Ya estas registrado? <a [routerLink]="['/login']">Ingresa ahora</a></p>
  </ion-item>

</ion-content>
