<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
     <div>
      <ion-title>Bienvenido</ion-title>
      <ion-img  src="assets/images/bg-home.png" alt="login" class="ion-padding"></ion-img>
    </div>
    <div>
      <app-certificados></app-certificados>
    </div>

    <div>
      <app-experiencia-laboral></app-experiencia-laboral>
    </div>

    <div class="ion-padding">
      <app-mis-datos></app-mis-datos>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" [routerLink]="['/login']">Login</ion-button>
    </div>
    
</ion-content>

